.pts-tester, .quickstart-tester {
    position: relative;
    width: 100%;
    height: 100%;
}

.leftExample {
    position: absolute;
    left: 0; top: 0; right: 50vw; bottom: 0;
}

.rightExample {
    position: absolute;
    right: 0; top: 0; left: 50vw; bottom: 0;
}

.label {
    background: rgba(0,0,0,.65);
    color: #fff;
    font-family: sans-serif;
    font-size: 12px;
    padding: 10px;
    position: absolute; top: 0; left: 0;
    user-select: none;
}

.pts-tester-canvas {
    /* canvas style if needed */
}